.Container {
    flex: 1;
    align-items: center;
    display: flex;
}

.Wait {
    background: rgba(0, 22, 48, 0.6);
    border: 1px solid #D09D38;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 65px;
}

.Text {
    font-family: 'Arkhip', sans-serif;
    color: #FFFFFF;
    font-size: 16px;
    line-height: 120%;
    width: 320px;
    margin: auto;
    text-align: center;
}

.Question {
    font-family: 'Arkhip', sans-serif;
    color: #FFFFFF;
    font-size: 36px;
    line-height: 120%;
    width: 320px;
    margin: auto;
    text-align: center;
    letter-spacing: -0.04em;
}

.Vote {
    background: linear-gradient(90deg, rgba(0, 16, 76, 0.1) 0%, rgba(0, 109, 240, 0.1) 50%), linear-gradient(90deg, rgba(0, 109, 240, 0.1) 50%, rgba(0, 16, 76, 0.1) 100%), rgba(0, 109, 240, 0.2);
    border: 1px solid #006DF0;
    box-sizing: border-box;
    border-radius: 4px;
    color: white;
    font-family: 'Arkhip', sans-serif;
    font-size: 24px;
    line-height: 120%;
    padding: 38px 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 200px;
    margin-top: 20px;
    cursor: pointer;
    position: relative;
    flex-direction: column;
}

.Vote.Selected {
    padding-top: 50px;
}

.ShowStats {
    justify-content: space-between;
}

.Hoverable:hover, .Selected {
    background: linear-gradient(90deg, rgba(0, 16, 76, 0.4) 0%, rgba(0, 109, 240, 0.4) 50%), linear-gradient(90deg, rgba(0, 109, 240, 0.4) 50%, rgba(0, 16, 76, 0.4) 100%), #006DF0;
}

.Loser {
    background: transparent;
}

.Timer {
    background: linear-gradient(90deg, rgba(125, 94, 34, 0.4) 0%, rgba(208, 157, 56, 0.4) 50%), linear-gradient(90deg, rgba(208, 157, 56, 0.4) 50%, rgba(125, 94, 34, 0.4) 100%), #D09D38;
    border: 1px solid #D09D38;
    box-sizing: border-box;
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.4);
    border-radius: 60px;
    color: white;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    width: fit-content;
    padding: 12px 20px;
    margin: auto;
    text-align: center;
    margin-bottom: 20px;
}

.Chosen {
    display: none;
}

.Selected .Chosen {
    display: block;
    position: absolute;
    top: 0;
    background: #FFFFFF;
    border-radius: 0 0 8px 8px;
    width: fit-content;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: black;
    padding: 12px 20px;
}

.Winner {
    background: linear-gradient(90deg, rgba(125, 94, 34, 0.4) 0%, rgba(208, 157, 56, 0.4) 50%), linear-gradient(90deg, rgba(208, 157, 56, 0.4) 50%, rgba(125, 94, 34, 0.4) 100%), #D09D38;
    border: 2px solid #D09D38;
    box-sizing: border-box;
    border-radius: 4px;
}

.InnerBorder {
    display: none;
}

.Winner .InnerBorder {
    display: block;
    opacity: 0.4;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 2px;
    width: calc(100% - 20px);
    height: calc(100% - 20px);
    position: absolute;
    top: 10px;
}

.Stats {
    display: none;
}

.ShowStats .Stats {
    display: block;
    background: rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    width: 100%;
    height: 8px;
    position: relative;
    margin-top: 30px;
}

.CurrentStat {
    background: #006DF0;
    border-radius: 4px;
    position: absolute;
    height: 100%;
}

.Selected .CurrentStat, .Winner .CurrentStat {
    background: #FFFFFF;
}

.Selected.Loser .CurrentStat {
    background: #006DF0;
}

.TextStat {
    font-family: 'Arkhip', sans-serif;
    font-size: 24px;
    line-height: 120%;
    color: #FFFFFF;
    position: absolute;
    bottom: 10px;
}

@media (max-width: 768px) {
    .Container * {
        width: 100%;
    }

    .Timer {
        font-size: 12px;
        line-height: 100%;
        letter-spacing: 0.08em;
        padding: 9px 15px;
        margin-top: -12px;
        width: fit-content;
    }

    .Question {
        font-size: 20px;
        width: auto;
    }

    .Vote {
        padding: 20px;
        font-size: 18px;
        height: auto;
        flex: 1;
        margin-right: 40px;
        min-height: auto;
    }

    .Vote:last-child {
        margin-right: 0;
    }

    .Vote.Selected {
        padding-top: 40px;
    }

    .Selected .Chosen {
        font-size: 12px;
        padding: 6px 12px;
    }

    .ShowStats .Stats {
        height: 4px;
        margin-top: 34px;
    }

    .TextStat {
        font-size: 12px;
    }

    .Winner .InnerBorder {
        display: none;
    }

    .Variants {
        display: flex;
        flex-flow: row wrap;
    }
}

@media (max-width: 460px) {
    .Variants {
        flex-direction: column;
    }
}